.App {
  max-width: 50vw;
  flex-direction: column;
  margin-left: 10px;
  align-items: flex-start;
}
p{
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.response-container{
  border: 1px solid rgb(225, 225, 225);
  border-radius: 15px;
  margin-bottom: 5px;
  width:fit-content;
  padding: 7px 17px;
}

#user-container{
  display: flex;
  flex-direction: row;
}
#user-container>*>*{
  list-style: none;
}
.fith-iteration{
  width: 360px;
  height: 220px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}
.logo-container{
  display: flex;
 flex-direction: row;
 justify-content: flex-end;
 width: 100%;
}
.logo{
  max-width: 55px;
}
.number-container{
  display: flex;
  align-items: center;
}
.number-container p{
  font-size: 2.4rem;
  line-height: 1;
  vertical-align: sub;
}
.asterisc{
 vertical-align: sub;
}
.detail-container{
  display:flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}
.sub1{
  display: flex;
  gap: 10px;
  flex-direction: row;
}